*checkpoints*

**/multiloc_cache/**
**/wandb/**
pretraining/wandb/**
**/.vscode/**
**/__pycache__/**
place_rec_evaluate/qualitative_outputs/**
place_rec_evaluate/.checkpoints

**/GPS_coords/**
**/wrong_ms2_split_old_checkpoints/**

*.png
*.csv
**/qualitative_outputs/**