[submodule "baselines/VPR/STHN"]
	path = baselines/VPR/STHN
	url = https://github.com/arplaboratory/STHN.git
[submodule "baselines/VPR/salad"]
	path = baselines/VPR/salad
	url = https://github.com/serizba/salad.git
[submodule "baselines/VPR/ImageBind"]
	path = baselines/VPR/ImageBind
	url = https://github.com/facebookresearch/ImageBind.git
[submodule "baselines/segmentation/MCNet"]
	path = baselines/segmentation/MCNet
	url = https://github.com/haitaobiyao/MCNet.git
[submodule "baselines/depth/BridgeMultiSpectralDepth"]
	path = baselines/depth/BridgeMultiSpectralDepth
	url = git@github.com:castacks/BridgeMultiSpectralDepth.git
[submodule "baselines/thermal_processing/fieldscale"]
	path = baselines/thermal_processing/fieldscale
	url = https://github.com/HyeonJaeGil/fieldscale.git
