--extra-index-url https://download.pytorch.org/whl/cu121

torch==2.1.2
torchvision==0.16.2
torchaudio==2.1.2
numpy<2
tyro
matplotlib
tqdm
faiss-gpu
pyyaml
natsort
scipy
opencv-python
scikit-learn
imageio
pyproj
h5py
pandas
pacmap
seaborn
pytorch-lightning
pytorch-metric-learning
wandb
pytorchvideo
gdown
ftfy
transformers==4.36.2
timm
einops
easydict
"mmcv==1.7.2"
"git+https://github.com/facebookresearch/pytorch3d.git"
path
tensorboard
pycryptodomex
python-gnupg
rospkg